{% extends "layout.html" %}

{% block title %}Administration{% endblock %}

{% block body %}
<h1 class="title">Administration</h1>

<h2>Blog Entries</h2>

<table>
    <tr><th>Title</th><th colspan="2">Actions</th></tr>
{% for blog_entry in blog_entries %}
    <tr>
        <td><a href="{{ url_for('blog_entry.read', id = blog_entry.id) }}" target="_blank">{{ blog_entry.title }}</a></td> 
        <td><a href="{{ url_for('blog_entry.synchronize', id = blog_entry.id ) }}">synchronize</a></td>
        <td><a href="{{ url_for('blog_entry.delete', id = blog_entry.id ) }}" onclick="return confirm('Are your sure to delete this blog entry?')">delete</a></td>
    </tr>
    {% endfor %}
</table>
<form action="{{ url_for('blog_entry.create') }}" method="post">
    <label for="evernote_url">Evernote Url:</label> <input name="evernote_url" size="60"/>
    <input type="submit" value="Add"/>
</form>

<br/>
<br/>
<h2>Pages</h2>
<table>
    <tr><th>Order</th><th>Title</th><th colspan="2">Actions</th></tr>
{% for page in g.pages %}
    <tr>
        <td>{{ page.order }}</td>
        <td><a href="{{ url_for('page.read', title = page.title) }}" target="_blank">{{ page.title }}</a></td> 
        <td><a href="{{ url_for('page.synchronize', id = page.id ) }}">synchronize</a></td>
        <td><a href="{{ url_for('page.delete', id = page.id ) }}" onclick="return confirm('Are your sure to delete this page?')">delete</a></td>
    </tr>
    {% endfor %}
</table>
<form action="{{ url_for('page.create') }}" method="post">
    <label for="order">Order:</label> <input name="order" size="1"/>
    <label for="evernote_url">Evernote Url:</label> <input name="evernote_url" size="45"/>
    <input type="submit" value="Add"/>
</form>

<br/>
<br/>
<h2>Synchronization</h2>
<ul>
    <li><a href="{{ url_for('admin.synchronize') }}" target="_blank">synchronize all</a> contents with Evernote</li>
    <li>Create a cron job to synchronize automatically: curl {{ url_for('admin.synchronize') }}</li>
</ul>

{% endblock %}
