{% extends "layout.html" %}

{% block title %}{{ blog_entry.title }}{% endblock %}

{% block body %}
<h1 class="title">{{ blog_entry.title }}</h1>
<p class="date">created on {{ blog_entry.created + g.time_zone }} | updated on {{ blog_entry.updated + g.time_zone }}</p>
{{ blog_entry.content|safe }}
{% if blog_entry.tags.count() > 0 %}
<p class="tags">This entry was tagged
<a href="{{ url_for('tag.read', name = blog_entry.tags.0.name) }}">{{ blog_entry.tags.0.name }}</a>{% if blog_entry.tags.count() == 2 %}
and <a href="{{ url_for('tag.read', name = blog_entry.tags.1.name) }}">{{ blog_entry.tags.1.name }}</a>
{%- elif blog_entry.tags.count() >= 3 -%}
{% for tag in blog_entry.tags.slice(1, blog_entry.tags.count() - 1) %}, <a href="{{ url_for('tag.read', name = tag.name) }}">{{ tag.name }}</a>{% endfor %}
and <a href="{{ url_for('tag.read', name = blog_entry.tags[-1].name) }}">{{ blog_entry.tags[-1].name }}</a>
{%- endif %}
</p>
{% endif %}
<br/>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = '{{ disqus_shortname }}';
    var disqus_identifier = '{{ blog_entry.uid }}';
    var disqus_url = 'http://' + window.location.host + '{{ url_for("blog_entry.read", uid = blog_entry.uid) }}';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
{% endblock %}
