<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>  
    <title>{% block title %}{% endblock %} | {{ g.blog_owner }}'s Thoughts and Writings</title>
    <link href="http://fonts.googleapis.com/css?family=Vollkorn&subset=latin" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}" type="text/css">
    <link href="{{ url_for('blog_entry.feed') }}" rel="alternate" title="{{ g.blog_owner }}'s Thoughts and Writings" type="application/atom+xml"> 
    <link href="{{ url_for('blog_entry.lang_feed', lang = 'cn') }}" rel="alternate" title="{{ g.blog_owner }}的博客" type="application/atom+xml"> 
  </head>
<body>
<div class=container>
      <div class=header>
          <a href="{{ url_for('page.read', title = 'about') }}">{{ g.blog_owner }}</a>'s Thoughts and Writings
      </div>
      <div class=navigation>
        <ul>
            <li><a href="{{ url_for('blog_entry.list') }}">blog</a></li>
            <li><a href="{{ url_for('blog_entry.list_lang', lang = 'cn') }}">博客</a></li>
            <li><a href="{{ url_for('tag.list') }}">tags</a></li>
            {% for page in g.pages %}
            <li><a href="{{ url_for('page.read', title = page.title.lower()) }}">{{ page.title.lower() }}</a></li>
            {% endfor %}
            <li><a href="{{ url_for('admin.index') }}">admin</a></li>
            {% if 'admin' in session %}
            <li><a href="{{ url_for('admin.logout') }}">logout</a></li>
            {% endif %}
        </ul>
      </div>
<div class=body>
{% block body %}{% endblock %}
</div>
<div class=footer>
    <p>
    Contact me via
    {% for contact in g.contacts[:-1] %}
    <a href="{{ contact.1 }}" target="_blank">{{ contact.0 }}</a>, 
    {% endfor %}
    <a href="{{ g.contacts[-1].1 }}" target="_blank">{{ g.contacts[-1].0 }}</a>.
    </p>
    <p>&copy; Copyright 2012 by {{ g.blog_owner }}, proudly powered by
    <a href="https://github.com/tylerlong/everblog" target="_blank">everblog</a>.
    (<a href="{{ url_for('blog_entry.feed') }}" rel="alternate" title="{{ g.blog_owner }}'s Thoughts and Writings">feed</a>,
    <a href="{{ url_for('blog_entry.lang_feed', lang = 'cn') }}" rel="alternate" title="{{ g.blog_owner }}的博客">订阅</a>)
    </p>
</div>
</div>
</body>
</html>
