<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>  
    <title>{% block title %}{% endblock %} | Tyler Long's Thoughts and Writings</title>
    <link href="http://fonts.googleapis.com/css?family=Vollkorn&subset=latin" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}" type="text/css">
  </head>
<body>
<div class=container>
      <div class=header>
        <a href="/about/">Tyler Long</a>'s Thoughts and Writings
      </div>
      <div class=navigation>
        <ul>
          <li><a href="/">blog</a>
          <li><a href="/projects/">projects</a>
          <li><a href="/about/">about</a>
        </ul>
      </div>
<div class=body>
{% block body %}{% endblock %}
</div>
<div class=footer>
    <p>
        Contact me via <a href="mailto:mituzhishi@gmail.com">mail</a>,
        <a href="https://github.com/tylerlong">github</a> or
        <a href="https://bitbucket.org/tylerlong">bitbucket</a>.
    </p>
    <p>&copy; Copyright 2011 by Tyler Long, proudly powered by <a href="https://github.com/tylerlong/everblog">everblog</a></p>
</div>
</div>
</body>
</html>
